/* General */

:root {
  --main-color: #212121;
  --second-color: #757575;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Хеадер */
.header-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 12);
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.header-logo {
  font-family: "Raleway" sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.web-style {
  color: #2196f3;
}

.header-active-link:hover {
  color: #2196f3;
}

.header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--second-color);
}

/* Hero */

.hero {
  background: #2f303a;
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: #ffffff;
}

/* Main */

.main-list-topic {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.main-list-paragraph {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/* our team */

.team-topic {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-labor {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/*Footer*/

.footer {
  background: #2f303a;
}

.fotter-address {
  font-style: normal;
}

.footer-logo {
  font-family: "Raleway" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-map {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contacts {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff99;
}

/* PORTFOLIO */

.portfolio-main-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.portfolio-topic-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.portfolio-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.portfolio-button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
